
<h2>Canopy Resilience Project</h2>

<p>The Canopy Resilience Project is led by the Centre for Water and Spatial Science (CWSS) at The University of Western Australia.</p>

<p>It brings together water scientists, geospatial data scientists, and science communicators to:</p>

<ul>
    <li>monitor the condition and health of Perth’s trees</li>
    <li>advance understanding of how Perth’s trees respond to varying and drying climates</li>
    <li>engage various stakeholders to support sustainable management of Perth’s green spaces</li>
</ul>

<h5 class="mt-4">What are we doing?</h5>

<div class="row m-4">
    <div class="col-sm-3 text-center">
        <i class="fa fa-satellite mb-2" style="font-size:60px;color:rgba(255, 255, 255, 0.8)"></i>
        <p>Satellite and climate data analytics</p>
      </div>
      <div class="col-sm-3 text-center">
        <i class="fa fa-street-view mb-2" style="font-size:60px;color:rgba(255, 255, 255, 0.8)"></i>
        <p>Citizen science</p>
      </div>
      <div class="col-sm-3 text-center">
        <i class="fa fa-temperature-quarter mb-2" style="font-size:60px;color:rgba(255, 255, 255, 0.8)"></i>
        <p>In-situ environmental monitoring</p>
      </div>
      <div class="col-sm-3 text-center">
        <i class="fa fa-tower-broadcast mb-2" style="font-size:60px;color:rgba(255, 255, 255, 0.8)"></i>
        <p>Outreach and capacity building</p>
      </div>
</div>

