<h2 class="mt-2">Background</h2>

<p>
    From April 2023 through March 2024, the south west of Western Australia experienced record-breaking heat and drought conditions.
    In autumn 2024, many urban trees around Perth, as well as vegetation in natural bushland throughout the southwest were visibly stressed and dying.
</p>

<p>
    Initial analysis of satellite images showed that the decline in Perth’s tree health was widespread. 
    But, it’s hard to translate a change in greenness on a satellite image to actual conditions on the ground (i.e. are trees bare, dying, or dead?). 
    Therefore, we asked people to record the condition of tree canopies near them.
    Over 1000 people responded by recording the canopy conditions of trees using our tree death form.
</p>

<p>
    We'll communicate our findings to the community at-large and key urban forest managers and policy makers.
    We hope this work will help design urban forest management strategies and greening approaches, and improve plans to help protect our trees during hot, dry summers.
</p>