<h2 class="mt-2">Background</h2>

<p>
  From April 2023 through March 2024, the south west of Western Australia experienced record-breaking heat and drought
  conditions.
  In autumn 2024, many urban trees around Perth, as well as vegetation in natural bushland throughout the southwest were
  visibly stressed and dying.
</p>

<p>
  Initial analysis of satellite images showed that the decline in Perth’s tree health was widespread.
  But, it’s hard to translate a change in greenness on a satellite image to actual conditions on the ground (i.e. are
  trees bare, dying, or dead?).
  Therefore, we asked people to record the condition of tree canopies near them.
  Over 1000 people responded by recording the canopy conditions of trees using our tree death form.
</p>

<p>
  We'll communicate our findings to the community at-large and key urban forest managers and policy makers.
  We hope this work will help design urban forest management strategies and greening approaches, and improve plans to
  help protect our trees during hot, dry summers.
</p>

<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
  <div class="col">
    <div class="card h-100 bg-transparent">
      <a href="{{ site.baseurl }}/explainers/google-translate-for-satellites" target="_blank"><img src="{{site.baseurl}}/static/img/background-satellite.jpg" class="card-img-top" style="object-fit: cover;" alt="..."></a>
      <div class="card-body bg-transparent">
        <h5 class="card-title bg-transparent">Google translate for satellites</h5>
        <p class="card-text bg-transparent">
          The details on how we're using tree canopy reports from the community to understand satellite images.
          <a href="{{ site.baseurl }}/explainers/google-translate-for-satellites" target="_blank">Read more!</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-transparent">
      <a href="https://tree-death-perth.uc.r.appspot.com" target="_blank"><img src="{{site.baseurl}}/static/img/background-tree.jpg" class="card-img-top" style="object-fit: cover;" alt="..."></a>
      <div class="card-body bg-transparent">
        <h5 class="card-title bg-transparent">Get involved! Record tree health</h5>
        <p class="card-text bg-transparent">As you're out and about in your neighbourhood record the
          canopy condition of trees using the <a href="https://tree-death-perth.uc.r.appspot.com"
            target="_blank">tree death form</a>.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-transparent">
      <a href="{{ site.baseurl }}/map"><img src="{{site.baseurl}}/static/img/background-map.jpg" class="card-img-top" style="object-fit: cover;" alt="..."></a>
      <div class="card-body bg-transparent">
        <h5 class="card-title bg-transparent">Canopy resilience map</h5>
        <p class="card-text bg-transparent">See the community to effort to map tree's health across Perth and south west
          Western Australia. <a href="{{ site.baseurl }}/map">Go to the map.</a></p>
      </div>
    </div>
  </div>
</div>